:root{
    --maincolor:#eaeaea;
    --secondaryColor: #fff;
  

    --bordercolor: #c1c1c1;
    
    --mainText:black;
    --secondaryText: #4b5156;

    --themeDtBorder:#24292e;
    --previewBg: rgb(251,249,243,0.8);
    --previewshadow:#f0ead6;

    --buttoncolor:black;
    }


html,body{
    padding: 0;
    margin: 0;
}

h1,h2,h3,h4,h5,h6,strong{
color: var(--mainText);
/*google fonts */
font-family: 'Russo One', sans-serif;
font-weight: 500;
}
 
a{
    text-decoration: none;
   
    color:var(--secondaryText)
}
#navLink{
    font-size: 25px;
}

ul{
    list-style: none;
}

h1 { font-size: 56px;}
h2 {font-size: 36px;}
h3 {font-size: 28px;}
h4 {font-size: 24px;}
h5 {font-size: 20px;}
h6 {font-size: 16px;}
/* h6:hover{background-color: #17a2b8;} */

.s1{
    background-color: var(--maincolor);
    border-bottom:1px solid var(--bordercolor);
    overflow: auto;
}

.s2{
    background-color: var(--secondaryColor);
    border-bottom: 1px solid var(--bordercolor);
    overflow: auto;
}

.main-container{
    width: 1200px;
    margin: 0 auto;
}

.intro-wrapper{
    background-color: var(--secondaryColor);   
     display: grid;
    
     grid-template-columns: 1fr 1fr;
     grid-template-rows: 3em 15em;
     grid-template-areas: 
     /*spread nav bar all across  */
     'nav-wrapper nav-wrapper' 'left-column right-column';

}

.nav-wrapper{
    border-radius: 5px 5px 0 0;
    grid-area: nav-wrapper;
    border-bottom: 1px solid var(--bordercolor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:var(--maincolor);
    font-weight: bold;
}

#navigation{
    margin: 0;
    padding: 10px;
}

#navigation li{
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
}

.browser-dot{
    background-color: black;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin: 5px; 
}

.left-column{
    grid-area: left-column;
    
}

#profile_pic{
    
    margin:0 auto;
    height: 250px;
    width: 250px;
    object-fit: cover;
    border:2px solid var(--bordercolor)
}

.right-column{
    grid-area: right-column;
    display: grid;
    align-content: center;
    /* for 800px screen*/
    padding-top: 50px;
    padding-bottom: 50px;
    
}

#preview{
    width: 300px;
    border: 1.5px solid #17a2b8;
    background-color: var(--previewBg);
    padding: 15px;
    /*to make corners visible*/
    position: relative;
    box-shadow: 10px 10px 5px #dad2d2;
    }

#preview:hover
{
    background-color:rgb(119, 177, 174);
}

.corner{
    width : 7px;
    height: 7px;
    border-radius: 50%;
    border: 1.5px soild #3293a1;
    background-color: turquoise;
    position: absolute;
}

#corner-tl{
    top: -5px;
    left: -5px;
}

#corner-tr{
    top: -5px;
    right: -5px;
}

#corner-br{
    bottom: -5px;
    right: -5px;
}

#corner-bl{
    bottom: -5px;
    left: -5px;
}

.post-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, 320px);
    gap: 20px;
    justify-content: center;
    padding-bottom: 50px;
}

.thumbnail{
    display: block;
    width: 100%;
    height: 200px;   
}

.post-preview{
    background-color: #fff;
    padding: 15px;
 }

.post-title{
    color: black;
    margin: 0;
  }

.post-intro{
    color: #4b5156;
    font-size: 14px;
}

#gitlink{
    
    font-size: 35px;
  }

  .contact{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 100%;
  } 

@media screen and (max-width: 1200px){
    .main-container{
        width: 95%;
    }
    
}

@media screen and (max-width: 800px){
    .intro-wrapper{
    grid-template-columns: 1fr;
    grid-template-areas: 
          'nav-wrapper'
          'left-column' 
          'right-column';
    }

    .right-column{
        justify-content: center;
    }
}